* {
    font-family: Georgia;
}
body {
    margin: 0;
}
.baner {
    background-color: #005B4F;
    color: white;
    text-align: center;
    font-size: 50%;
    height: 20px;
}
.main {
    background-color: #E1E2E1;
    height: 400px;
    padding: 20px;
    overflow: scroll;
}
.block-photo {
    width: 20%;
}
.block-desc {
    display: inline-block;
}
.footer-left {
    background-color: #005B4F;
    color: white;
    text-align: center;
    width: 50%;
    height: 20px;
    float: left;
}
.footer-right {
    background-color: #005B4F;
    color: white;
    text-align: center;
    width: 50%;
    height: 20px;
    float: right;
}
img {
    padding: 20px;
    border-radius: 100%;
}
h2 {
    text-align: center;
    background-color: #00897B;
}
a {
    color: white;
}