body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(244, 164, 96);
    color: white;
}
#headerLeft {
    width: 25%;
    height: 150px;
    float: left;
    font-size: 200%;
    background-color: orange;

}
#headerRight {
    width: 75%;
    height: 150px;
    float: right;
    background-color: orangered;

}
section{
    background-color: rgb(128, 0, 0);
    padding: 50px;
    text-transform: uppercase;
}
table{
    width: 100%;

}
#footerLeft {
    width: 20%;
    padding-top: 90px;
    float: left;
    background-color: teal;
}
#footerRight {
    width: 20%;
    padding-top: 90px;
    float: right;
    background-color: red;
}
#footerMid {
    width: 60%;
    text-align: center;
    background-color: blue;
}