body{
    font-family: Arial;
    background-color: rgb(244,164,96);
    color: white;
}

.header-left{
    width: 75%;
    height: 150px;
    font-size: 200%;
    text-align: center;
    background-color: rgb(244,164,96);
    float: left;
}

.header-right{
    width: 25%;
    height: 150px;
    background-color: rgb(244,164,96);
    float: right;
}

section{
    /* padding-top: 0px; */
    padding: 50px;
    background-color: rgb(128, 0, 0);
    text-transform: uppercase;
}

.footer-left, .footer-right{
width: 20%;
padding-top: 90px;
}

.footer-left{
    float: left;
}

.footer-right{
    float: right;
}

.footer-mid{
    text-align: center;
    width: 60%;
}

table{
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}

th, td{
    border: 1px solid rgb(192, 192, 192);
    padding: 5px;
}

p{
    border: 2px dotted rgb(169, 169, 169);
    font-size: 150%;
}

p:hover{
    background-color: rgb(169, 169, 169);
}